
/*search Bar*/
.search-wrapper {
  padding-bottom: 50px;
  padding-top: 250px;
  padding-left: 150px;
   flex-direction: column;
   gap: .25rem;
   padding: 40px;
   margin: 0 auto;
   max-width: 1000px;
   text-align: relative;
   
 }
 #sortingLabel{
  font-size: large;
  padding-left: 50px;
 }
 #sorting{
  font-size: large;
 }


 .card-header{
   font-weight: bold;
   font-size: large;
   font-variant-caps: petite-caps;
 }

 .card-title{
   font-size: 20px;
 }

 input {
   font-size: 3rem;
   max-height: 42px;
   border: 1px solid #08818d;
   border-radius: 5px;
   
 }

 .card {
   border: 1px solid black;
   background-color: white;
   padding: .5rem;
   padding-left: 20px;
   
 }
 

 .hide {
   display: none;
 }


 /*inserting new*/
 #searchBar {
   width: 50%;
   height: 25px;
   border-radius: 3px;
   border: 1px solid #08818d;
   padding: 5px 10px;
   font-size: 12px;
   border-width: 3px;
}
::placeholder{
 color:black
}

#searchWrapper {
   position: relative;
   font-size: small;
}


#searchWrapper::after {
  
   position: relative;
   top: 7px;
   right: 15px;
}

h1 {
 color: rgb(41, 37, 37);
 margin-bottom: 30px;
}


/*sidemenu CSS*/


.wrapper {
 display: flex;
 width: 100%;
 align-items: stretch;
}

.wrapper {
 display: flex;
 align-items: stretch;
}
/*body styling*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

a {
  color: #00B7FF;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.carousel-inner>.carousel-item>img {
  width: 640px;
  height: 550px;
}

.card-height {
  height: 30rem;
}


p {
 font-family: 'Poppins', sans-serif;
 font-size: 1.1em;
 font-weight: 300;
 line-height: 1.7em;
 color: #999;
}

/*sidemenu styling*/





.side-menu{
 color:white;
 font-size: 18px;


}

.sidemenu-buttons{
 padding-bottom: 100px;
}

.side-menu-list{
 padding-bottom: 50px;
 border-bottom: 2px solid #ddd !important;

}



.custom-navbar-sidemenu{
 background-color:rgba(0, 0, 0, 0.816);


}


/*buttons styling*/
/*new searchBar CSS*/
#searchSubmit{
  background-color: #08818d;

 }
 #reset{
  background-color: #08818d;

 }


 .errorMessage{
  text-align: center;
  padding-top: 20px;

 }